<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {{ include('head.twig') }}
        <link href="/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block nav %}
    {{ include('nav.twig') }}
{% endblock %}

<div class="container" style="margin-top: 30px">
    {% block content %}
        {{ include('extensions/tasks.twig') }}
    {% endblock %}
</div>

{% block scripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
<script src="/bootstrap/js/jquery.dataTables.min.js"></script>
<script src="/js/tasks.js"></script>
</body>
</html>

